{{>layout/header}}

<h1>Add Post</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Input Title">
            </div>
            <div>
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Input your name">
            </div>
            <div>
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" placeholder="Input contents">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-save">Save</button>
    </div>
</div>

{{>layout/footer}}
